{% extends "layout.html" %}

{% block body %}
<section class="logout">
  <form action="/logout" method="post" novalidate>
    <div class="container-lg">
      <div class="display-6">
        Logout of Fractory
      </div>
      <div class="p-5 container-lg">
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-outline-primary">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
{% endblock %}
